<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigowatts.springboot_with_mybatis.domain.mapper.MessageMapper">
    <select id="findOne" parameterType="int" resultType="com.jigowatts.springboot_with_mybatis.domain.Message">
        SELECT
            id,
            text
        FROM
            messages
        WHERE
            id = #{id}
    </select>

    <select id="count" resultType="_long">
        SELECT COUNT(*) FROM messages
    </select>

    <select id="findAll" resultType="com.jigowatts.springboot_with_mybatis.domain.Message">
        SELECT
            id,
            text
        FROM
            messages
        ORDER BY
            id
    </select>
</mapper>