<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jigowatts.springboot_with_mybatis.infrastructure.repository.MessageMapper">

    <resultMap id="messageResultMap" type="com.jigowatts.springboot_with_mybatis.domain.model.message.Message">
        <id column="id" property="id" />
        <result column="text" property="text" />
        <result column="jsonb_value" property="jsonbValue" />
    </resultMap>
    <select id="findOne" parameterType="int" resultMap="messageResultMap">
        SELECT
            id,
            text,
            jsonb_value
        FROM
            messages
        WHERE
            id = #{id}
    </select>

    <select id="count" resultType="_long">
        SELECT COUNT(*) FROM messages
    </select>

    <select id="findAllByCriteria" resultType="com.jigowatts.springboot_with_mybatis.domain.model.message.Message">
        SELECT
            id,
            text
        FROM
            messages
        <where>
            <if test="text != null">
                AND text LIKE #{text} || '%'
            </if>
        </where>
        ORDER BY
            id
    </select>

    <insert id="create" parameterType="com.jigowatts.springboot_with_mybatis.domain.model.message.Message" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO messages(text) VALUES(#{text})
    </insert>

    <update id="update" parameterType="com.jigowatts.springboot_with_mybatis.domain.model.message.Message">
        UPDATE messages SET
            text = #{text}
        WHERE
            id = #{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM messages
        WHERE
            id = #{id}
    </delete>
</mapper>